@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 204, 214, 246; /* Slate 100 */
  --background-start-rgb: 10, 25, 47; /* Navy 800 */
  --background-end-rgb: 2, 12, 27;    /* Navy 900 */
}

body {
  color: #ccd6f6; /* Slate 100 */
  background: #0a192f; /* Navy 800 */
  
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020c1b; 
}

::-webkit-scrollbar-thumb {
  background: #233554; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37; /* Gold on hover */
}


.text-gold {
  color: #D4AF37;
}

.bg-gold {
  background-color: #D4AF37;
}